Options -MultiViews
RewriteEngine On
RewriteBase /

# Don’t rewrite if file/folder exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send everything else to index.php
RewriteRule ^ index.php [L]